.NotesContainer {
  min-height: 100vh;

  .heading {
    color: #0902da;
    font-size: 52px;
    text-shadow: 3px 3px 7px #544343;
    background: white;
  }

  .react-draggable {
    position: absolute;
    width: 300px;
    height: 300px;
  }
}