.Note {
  height: 300px;
  width: 300px;
  margin: 2px 4px;
  position: relative;
  display: inline-block;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;

  // wraps form component

  .input {
    border: 0;
    background: none;
    outline: none;
    margin:10px 5px 0 5px;
    width: 100%;
    font-size: 11px;
  }

  .input:focus {
    border: solid 1px lightgrey;
  }

  .textarea {
    resize: none;
    height: 200px;
    font-size: 11px;
    width: 290px;
    margin: 10px auto;
    border: 2px solid #dcdcdc;
  }
}