.Note {
  height: 300px;
  width: 300px;
  margin: 2px 4px;
  position: relative;
  display: inline-block;
  // cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;

  .tile {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;

    .deleteBtn {
      color: darkgray;
      cursor: pointer;
      font-size: 20px;
      visibility: hidden;
    }

    &:hover {
      .deleteBtn {
        visibility: visible;
      }
    }
  }

  // wraps form component

  .input {
    border: 0;
    background: none;
    outline: none;
    margin:10px 5px 0 5px;
    width: 100%;
    font-size: 11px;
  }

  .input:focus {
    border: solid 1px lightgrey;
  }

  .textarea {
    resize: none;
    height: 200px;
    font-size: 11px;
    width: 290px;
    margin: 10px auto;
    border: 2px solid #dcdcdc;
  }
}